<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RescueNest</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <h1>Welcome to the RescueNest</h1>
    <p>Please select your user type:</p>
    <ul>
        <li><a href="/user_a">Rescuer</a> - View video livestream and message victem</li>
        <li><a href="/user_b">Device</a> - Device viewpoint/ipad</li>
        <li><a href="/user_c">Victim</a> - Message with Rescuer</li>
    </ul>
</body>
</html>